.mainbody{
    min-height: 100vh;
    /* position: fixed; */
}
.homescreen{
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    position: fixed;
    /* position: fixed; */

}
.nv{
    position:fixed;
}
.oth{
    display: flex;
    position: fixed;
    width: 100vw;
    /* margin-top: 100px; */

}
.feedboxarea{
    border: 3px solid green;
    width: 80vw;
    height: 100vh;
      width: 100%;
      /* margin-top: calc(100% - 65px); */
      margin-top: 70px;
      overflow: scroll;
}

.sidebararea{
    margin-top: 70px;
    border: 3px solid red;
    width: 20vw;
}