.btn-side{
    width: 100%;
    height: 30px;
}
.profile{
    border: 2px solid black;
    margin-top: 10px;
    border-radius: 10px;

   
}
.profile:hover{
    background-color: rgb(234, 229, 229);
}
.buttonactive-profileshow{
    border: 1px solid black;
    padding: 4px 10px;
    width: 90%;
    margin: 10px 10px;
    border-radius: 20px;
    background-color:#7fe3a2;
    font-weight: 400;
}
.buttonnotactive-profileshow{
    border: 1px solid black;
    padding: 6px 10px;
    width: 90%;
    margin: 10px 10px;
    border-radius: 20px;
    background-color:#fff;
    font-weight: 400;
    /* transition: all 0.5s; */
}


.profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;

}
.nameanddp{
    display: flex;
    align-items: center;
    margin: 5px 5px;
    
}
.nameanddp p{
    font: 23px;
    font-weight: 500;
    /* border:2px solid red; */
    margin-top: 10px;
    margin-left: 10px;
}
.otherbuttons{
    margin-top: 20px;

}

.otherbuttons button{
    width: 100%;
    border-radius: 20px;
    background-color:#fff;
    font-weight: 400;
    padding: 8px 0px;
    margin-top: 10px;
    transition: padding 0.3s;
    border: none;
    /* border: 1px solid black; */

}
.otherbuttons button:hover{
    
    background-color:#7fe3a2;
    font-weight: 400;
    padding: 8px 0px;
    padding-top: 8px;
    transition: all 0.5s;

}
.otherbuttons button:active{
    
    background-color:#7fe3a2;
    font-weight: 400;
    padding: 5px 1px;
    padding-top: 5px;
    /* margin-bottom: 15px; */
    
  
   

}

.active{
    background-color: #7fe3a2 !important;
}
.mbfollow{
    max-height: 70vh !important;
    overflow-y: scroll;
    overflow-x: hidden;


    /* background-color: #e4e2e2; */
}
.mbfollow::-webkit-scrollbar {
    display: none; 
  } 
/* .modal-header , .modal-footer{
    background-color: #7fe3a2;
} */